<section
	id="about"
	class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
	aria-label="About me"
>
	<div
		class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
	>
		<h2
			class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only"
		>
			About
		</h2>
	</div>
	<div>
		<p class="mb-4">
			En 2018, comencé mi carrera en el mundo de la tecnología, sumergiéndome en
			el campo de la codificación y el desarrollo web. Desde entonces, he tenido
			la oportunidad de desarrollar software para varias empresas, incluyendo
			una de renombre mundial en el sector de <a
				class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
				href="https://www.inchcape.com/es-co/"
				target="_blank"
				rel="noreferrer noopener"
				aria-label="Inchcape (opens in a new tab)">servicios automovilísticos</a
			> como cliente de mi ex labor en <a
				class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
				href="https://www.pwc.com/co/es"
				target="_blank"
				rel="noreferrer noopener"
				aria-label="PwC Colombia (opens in a new tab)">PwC</a
			>. Esta experiencia me ha proporcionado habilidades sólidas en gestión de
			proyectos, desarrollo de software y relaciones con los clientes.
		</p>
		<p class="mb-4">
			Actualmente, me concentro en la creación y dirección de proyectos
			autónomos para diversos clientes, ayudándoles a desarrollar sus servicios.
			Fuera del ámbito profesional, dedico mi tiempo libre a desarrollar
			aplicaciones personales. Cuando no estoy frente al ordenador, disfruto del
			ejercicio en el gimnasio, pasar tiempo con amigos y familia, leer y
			escuchar podcasts.
		</p>
	</div>
</section>
