---
import data from "../data.json";
import Nav from "./Nav.svelte";
import SocialMedia from "../components/header/SocialMedia.astro";
import PersonalImage from "../components/header/PersonalImage.astro";
---

<header
	class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
>
	<div>
		<h1 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
			<a href="/">{data.name}</a>
		</h1>
		<h2
			class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl"
		>
			{data.position}
		</h2>
		<p class="mt-4 max-w-xs leading-normal">{data["minimal-description"]}</p>
		<Nav client:only />
	</div>
	<div class="pt-10 lg:pt-0">
		<PersonalImage />
	</div>
	<SocialMedia />
</header>

<style is:global>
	/* 
	Unicamente para Nav.svelte
	Estilos para nav-indicator cuando su elemento padre tiene la clase active */
	.nav a.active .nav-indicator {
		width: 4rem; /* Ajusta el ancho */
		background-color: rgb(226 232 240); /* Color de fondo */
		transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1); /* Transición */
	}

	/* Estilos para nav-text cuando su elemento padre tiene la clase active */
	.nav a.active .nav-text {
		color: rgb(226 232 240); /* Color del texto */
	}
</style>
