---
import Description from "./Description.astro";
import Experience from "./Experience.astro";
import Projects from "./Projects.astro";
---

<main class="pt-24 lg:w-1/2 lg:py-24">
	<Description />
	<Experience />
	<Projects />
</main>
